/* Bu dosyadaki çoğu kural Vite başlangıç şablonuna aittir. */
/* İsterseniz projenize uymayanları silebilirsiniz. */

#root {
  /* max-width: 1280px; Bu kuralı kaldırarak sayfanızın tam genişlikte olmasını sağlayabilirsiniz. */
  margin: 0 auto;
  /* padding: 2rem; Bu kuralı da kaldırıp sayfa bazlı boşlukları kendiniz yönetebilirsiniz. */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
/* Logo hover efektini yeni ana rengimizle güncelledim */
.logo:hover {
  filter: drop-shadow(0 0 2em #2E7D32aa); /* Yeni primary rengimiz */
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #82e086aa); /* Daha açık bir yeşil tonu */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}